<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre o HIKARI</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>O HIKARI é uma plataforma avançada para treinamento e competição em Threat Hunting e Resposta a Incidentes. Criada para capacitar estudantes e profissionais de cibersegurança, a plataforma oferece um ambiente simulado que mimetiza o dia a dia de um Security Operations Center (SOC).</p>
      </div>
      <div class="col-lg-4">
        <p>O HIKARI utiliza tecnologias como ELK Stack, Docker, CTFd, e outras ferramentas para criar um ambiente imersivo, onde os participantes podem analisar logs, descobrir flags, e evoluir em uma competição dinâmica. A cada flag descoberta, novos desafios e logs são liberados, tornando a experiência cada vez mais desafiadora.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://git.rnp.br/gt-hikari/hikari.git" class="btn btn-lg btn-outline"> Acesse o Git RNP
        </a>
      </div>
    </div>
  </div>
</section>
