<!-- Recursos Grid Section -->
<section id="recursos">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Recursos</h2>
        <hr class="star-primary">
        <p>Explore os principais recursos oferecidos pelo HIKARI, projetados para capacitar profissionais de segurança cibernética.</p>
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-database fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/log-analysis.png" class="img-responsive" alt="Análise de Logs">
        </a>
        <p>Análise de Logs</p>
      </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-flag fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/flag-competition.png" class="img-responsive" alt="Competição Baseada em Flags">
        </a>
        <p>Competição Baseada em Flags</p>
      </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-network-wired fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/realistic-environment.png" class="img-responsive" alt="Ambiente de Simulação Realista">
        </a>
        <p>Ambiente de Simulação Realista</p>
      </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-tasks fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/dynamic-challenges.png" class="img-responsive" alt="Desafios Dinâmicos">
        </a>
        <p>Desafios Dinâmicos</p>
      </div>
    </div>
  </div>
</section>
